[Unit]
Description=HarborOS Subscreen Service
After=network.target

[Service]
ExecStart=/usr/bin/harboros-subscreen
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
