[Unit]
Description=HarborOS Subscreen Service
After=network.target suspend.target hibernate.target hybrid-sleep.target
PartOf=suspend.target hibernate.target hybrid-sleep.target

[Service]
ExecStart=/usr/bin/harboros-subscreen
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
